{% extends 'desk.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {{ include('crm/client/_show.html.twig') }}
                <table class='table'>
                    <tr>
                        <td colspan="2">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm"  title="Повернутись назад" onclick="window.history.back()" ><i class="fa fa-arrow-left"></i></a>
                            {% if(client.canEdit(app.user)) %}
                            <a href="{{ path('crm_client_edit', {'id': client.id}) }}" title="Редагувати" class="btn btn-warning btn-sm" ><i class="fa fa-edit"></i></a>
                            <a href="{{path('crm_client_toarchive', {'id': client.id})}}"  title="В архів" class="btn btn-danger btn-sm" onclick="if (confirm('Ви впевнені, що хочете перенести у архів?')) {} else {return false;}"><i class="fa fa-archive"></i></a>
                            <a href="{{path('crm_client_delete', {'id': client.id})}}" title="Видалити" class="btn btn-danger btn-sm" onclick="if (confirm('Ви впевнені, що хочете видалити?')) {} else {return false;}"><i class="fa fa-user-times"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <h3>Об'єкти на продаж/оренду клієнта <a href="{{ path('crm_object_new', {'client_id':client.id})}}" class="btn btn-success btn-sm"  title="Створити заявку"><i class="fa fa-plus"></i></a></h3>
                <table class='table table-striped table-hover'>
                    {% for object in client.objects %}
                    <tr>
                        <td><a href="{{path('crm_object_show',{'id':object.id})}}">{{object.name}}</a></td>
                    </tr>
                    {% endfor %}
                </table>
                
                <h3>Заявки на покупку/оренду клієнта <a href="{{ path('crm_bid_new', {'client_id':client.id})}}" class="btn btn-success btn-sm"  title="Створити заявку"><i class="fa fa-plus"></i></a></h3>
                <table class='table table-striped table-hover'>
                    {% for bid in client.bids %}
                    <tr>
                        <td><a href="{{path('crm_bid_show',{'id':bid.id})}}">{{bid.name}}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}