<div class="row ticket-items calls-list">
    {% set currDate = null %}
    {% for item in items %}
        {% if(currDate != item.date) %}
            {% set currDate = item.date %}
            <div class="col-md-12 col-sm-12 com-xs-12">
                <h4>{{currDate|date("d.m.Y")}}</h4>
{#                <hr />#}
            </div>
            <div class="clearfix"></div>
        {% endif %}
{#        <div class="col-md-6 col-sm-6 com-xs-12">#}
            <div class="ticket-item status-{{ item.status }} w95">
                <div class="inforow">
                    <div class="title">Дата/Час</div>
                    <div class="val">{{  item.date|date("d.m.Y") }} / {{ item.time }}</div>
                </div>
                <div class="inforow">
                    <div class="title">Статус</div>
                    <div class="val">
                        {% if(item.status == 'new') %}
                            Новий
                        {% elseif(item.status == 'inwork') %}
                            В роботі
                        {% elseif(item.status == 'replace') %}
                            Перенесено
                        {% elseif(item.status == 'done') %}
                            Виконано
                        {% elseif(item.status == 'cancel') %}
                            Відмінено
                        {% endif %}
                    </div>
                </div>
                {% if item.client %}
                <div class="inforow">
                    <div class="title">Клієнт</div>
                    <div class="val">{{  item.client.name }}</div>
                </div>
                {% endif %}
                <div class="inforow buttons">
                    <a href="{{ path('crm_ticket_status', {'id': item.id}) }}" class="btn btn-primary btn-sm ajax-page-load" ><i class="fa fa-unsorted"></i></a>
                    <a href="{{ path('crm_ticket_show', {'id': item.id}) }}" class="btn btn-success btn-sm ajax-page-load" ><i class="fa fa-arrows"></i></a>
                    {% if(not item.user) %}
                        <a href="{{ path('crm_ticket_user_set', {'id': item.id,'user_id':app.user.id}) }}" class="btn btn-primary btn-sm ajax-grab-ticket" data-list-update=".tickets-list" ><i class="fa fa-hand-grab-o"></i></a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
{#        </div>#}
    {% endfor %}
</div>