<table class="table table-hover table-responsive-objects">
    <thead>
        <tr>
            <th>Код</th>
            <th>Назва</th>
            <th>Статус</th>
            <th>Район</th>
            <th>Ціна</th>
            <th>К-сть кімнат</th>
            <th>Площа</th>
            <th>Тип будинку</th>
            <th>Поверх</th>
            <th width="85"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
            <tr class="
                {% if( date(object.lastUpdate) < date('-14days') ) %}
                    danger
                {% elseif(object.status=='reserved') %}
                    warning
                {% elseif(object.status=='insale') %}

                {% elseif(object.status=='saled') %}
                    success
                {% elseif(object.status=='archive') %}
                    active
                {% endif %}
                ">
                <td>
                    <a href="{{ path('crm_object_show', {'id': object.id}) }}">
                    {{ object.code }}
                    </a>
                    <div class="pull-right">
                        {% if(object.photos|length > 0) %}
                            <i class="fa fa-image primary-color" title="Є фото"></i>
                        {% else %}
                            <i class="fa fa-image" title="Нема фото" style="color:#ddd;"></i>
                        {% endif %}
                        {% if(object.exclusive) %}
                            <i class="fa fa-star warning-color" title="Ексклюзив"></i>
                        {% else %}
                            <i class="fa fa-star" title="Не ексклюзив" style="color:#ddd;"></i>
                        {% endif %}
                        {% if(object.important) %}
                            <i class="fa fa-warning danger-color" title="Важливий"></i>
                        {% else %}
                            <i class="fa fa-warning" title="Не важливий" style="color:#ddd;"></i>
                        {% endif %}
                        {% if(object.advertising) %}
                            <i class="fa fa-bullhorn success-color" title="Рекламується"></i>
                        {% else %}
                            <i class="fa fa-bullhorn" title="Не рекламується" style="color:#ddd;"></i>
                        {% endif %}

                    </div>
                </td>
                <td>
                    <a href="{{ path('crm_object_show', {'id': object.id,'ajax':'Y'}) }}"  class="ajax-page-load">
                    {{ object.name }}
                    </a>
                </td>
                <td>
                    {% if(object.status=='insale') %}
                        В продажу
                    {% elseif(object.status=='reserved') %}
                        Зарезервовано
                    {% elseif(object.status=='saled') %}
                        Продано
                    {% elseif(object.status=='archive') %}
                        В архіві
                    {% endif %}
                </td>
                <td>
                    {% if(object.location) %}
                        {{ object.location.name }}
                    {% endif %}
                </td>
                <td>
                    {{ object.price }}
                </td>
                <td>
                    {{ object.rooms }}
                </td>
                <td>
                    {{ object.area }}
{#                    {{ object.getParamVal(34) }}#}
                    {%if(object.getParamVal(37)!="")%}/{{ object.getParamVal(37) }}{%endif%}
                    {%if(object.getParamVal(35)!="")%}/{{ object.getParamVal(35) }}{%endif%}
                </td>
                <td>
                    {{ object.getParamVal(24) }}
                </td>
                <td>
                    {{ object.getParamVal(20) }} / {{ object.getParamVal(26) }}
                </td>
                <td>
                    <a href="{{ path('crm_favourite_del_from_bid', {'id': object.id,'bid': bid.id}) }}" class="btn btn-danger btn-sm favourite-del-from-bid" title="Видалити з обраних в заявці"><i class="fa fa-star"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>