{% extends 'desk.html.twig' %}

{% block body %}
    <div class="container-fluid">
{#        <h1>Вітаю у RieltCRM</h1>#}
        {#<h3>Завдання</h3>
        <div class="row">
            <div class="col-md-12 col sm-12">
                <hr />
                <h4>Поточні <a href="{{ path('crm_ticket_new')}}" class="btn btn-xs btn-success ajax-page-load"><i class="fa fa-plus"></i></a></h4>
                <div class="ajax-list ajax-onready-load tickets-list" data-list-src="{{path('crm_user_future_tickets',{'id': app.user.id})}}"></div>
            </div>
            <div class="col-md-12 col sm-12">
                <hr />
                <h4>Доступні</h4>
                <div class="ajax-list ajax-onready-load tickets-list" data-list-src="{{path('crm_user_free_tickets',{'id': app.user.id})}}"></div>
            </div>
        </div>#}
        <div class="row">
            <div class="col-md-6 col sm-12">
                <hr />
                <h3>Позвон клієнтів(більше 2 тиждні без активності)</h3>
                <div class="ajax-list ajax-onready-load bids-list" data-list-src="{{path('crm_bid_checklastactive_list',{'id': app.user.id})}}"></div>
            </div>
            <div class="col-md-6 col sm-12">
                <hr />
                <h3>Позвон об'єктів(більше 2 тиждні без активності)</h3>
                <div class="ajax-list ajax-onready-load objects-list" data-list-src="{{path('crm_object_checklastactive_list',{'id': app.user.id})}}"></div>
            </div>
        </div>
        <div class="row">
            {#<div class="col-md-6 col sm-12">
                <hr />
                <h3>Завдання на сьогодні</h3>
                {% set items = todayTickets %}
                {{ include('crm/ticket/_list.html.twig') }}
            </div>
            <div class="col-md-6 col sm-12">
                <hr />
                <h3>Доступні завдання</h3>
                {% set items = freeTickets %}
                {{ include('crm/ticket/_list.html.twig') }}
            </div>#}
{#            <div class="col-md-6 col sm-12">
                <hr />
                <h3>Оголошення по фірмі</h3>
            </div>#}
           {# <div class="col-md-6 col sm-12">
                <hr />
                <h3>Позвон клієнтів(більше 2 тиждні без активності)</h3>
                {% set items = callBids %}
                {{ include('crm/bid/_list_lastActive_tickets.html.twig') }}
            </div>#}
            <div class="col-md-12 col sm-12">
                <hr />
                <h3>Моя статистика</h3>
                <ul>
                    <li>Створено об'єктів: <b>{{statistic.personal.count_created}}</b></li>
                    <li>Веду об'єктів: <b>{{statistic.personal.count_in_use}}</b></li>
                    <li>Веду об'єктів по статусам:
                        <ul>
                            {%for status in statistic.personal.count_in_use_by_statys %}
                            <li>{% if(status.status=='insale') %}В продажу{% elseif(status.status=='reserved') %}Зарезервовано{% elseif(status.status=='saled') %}Продано{% elseif(status.status=='archive') %}В архіві{% endif %}: <b>{{status.num}}</b></li>
                            {%endfor%}
                        </ul>
                    </li>
                    <li>Веду клієнтів: <b>{{statistic.personal.count_clients}}</b></li>
                </ul>
                <div id="graph-wrapper">
                    <div class="graph-info">
                        <a href="#" id="bars"><span></span></a>
                        <a href="#" id="lines" class="active"><span></span></a>
                    </div>
                    <h2>Статистика додавання об'єктів по місяцях поточного року</h2>
                    <div class="graph-container">
                        <div id="graph-lines-users"></div>
                    </div>
                    <h2>Статистика продажів об'єктів по місяцях поточного року</h2>
                    <div class="graph-container">
                        <div id="graph-lines-users-sells"></div>
                    </div>
                </div>

            
            </div>
            <div class="col-md-12 col sm-12">
                <hr />
                <h3>Важливі об'єкти</h3>
                {% set items = importantObjects %}
                {{ include('crm/object/_list_important.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.flot.min.js') }}"></script>
    <script>
        var usersData = [
            {% for user_id, user in statistic.statistic.yearly_users_by_month %}
                {%if(user_id==app.user.id)%}
                {   label: 'я',
                    data: [ 
                        {% for month, val in user.items %}[{{month}},{{val}}],{% endfor %}
                    ],color: "{{user.color}}"},
                {%endif%}
            {% endfor %}
        ]
        // Lines
        jQuery.plot(jQuery("#graph-lines-users"), usersData, {
            series: {points: {show: true, radius: 5},lines: {show: true},shadowSize: 0},
            grid: {color: "#646464",borderColor: "transparent",borderWidth: 20,hoverable: true},
            xaxis: {tickColor: "transparent",tickDecimals: 2},
{#            yaxis: {tickSize: 37}#}
        });

        var sellsData = [
            {% for user_id, user in statistic.statistic.yearly_users_selling_by_month %}
            {   label: 'я',
                data: [ 
                    {% for month, val in user.items %}[{{month}},{{val}}],{% endfor %}
                ],color: "{{user.color}}"},
            {% endfor %}
        ]
        // Lines
        jQuery.plot(jQuery("#graph-lines-users-sells"), sellsData, {
            series: {points: {show: true, radius: 5},lines: {show: true},shadowSize: 0},
            grid: {color: "#646464",borderColor: "transparent",borderWidth: 20,hoverable: true},
            xaxis: {tickColor: "transparent",tickDecimals: 2},
{#            yaxis: {tickSize: 37}#}
        });
        // Bars
        {#jQuery.plot(jQuery("#graph-bars"), graphData, {
            series: {bars: {show: true,barWidth: .9,align: "center"},shadowSize: 0},
            grid: {color: "#646464",borderColor: "transparent",borderWidth: 20,hoverable: true},
            xaxis: {tickColor: "transparent",tickDecimals: 2},
            yaxis: {tickSize: 37}
        });#}
        </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
    .graph-container,.graph-container div,.graph-container a,.graph-container span {margin: 0;padding: 0;}
    .graph-container, #tooltip, .graph-info a {background: #ffffff;background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);border-radius: 3px;}
    .graph-container {position: relative;width: 95%;height: 300px;padding: 20px;box-shadow: 0px 1px 2px rgba(0,0,0,.1);}
    .graph-container > div {position: absolute;width: inherit;height: inherit;top: 10px;left: 25px;}
    .graph-info {width: 590px;margin-bottom: 10px;}
    #graph-lines{height:100%}</style>
{% endblock %}