{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.sort) }}
    {{ form_row(form.multiple) }}
    {{ form_row(form.useInFilter) }}
    {{ form_row(form.useInBid) }}
    {{ form_row(form.type) }}
    {{ form_row(form.section) }}
    {{ form_row(form.filter) }}
    {{ form_row(form.detail) }}
    {{ form_row(form.useInExport) }}
    {{ form_row(form.basicParam) }}
    {{ form_row(form.exportName) }}

    <button class="btn btn-primary" name="submitType" value="apply" type="submit" formnovalidate><i class="fa fa-save"></i></button>&nbsp;
    <button class="btn btn-success" name="submitType" value="save" type="submit" formnovalidate><i class="fa fa-save"></i>&nbsp;<i class="fa fa-plus"></i>&nbsp;<i class="fa fa-sign-out"></i></button>&nbsp;
    <a href="{{path('admin_param_list')}}" class="btn btn-warning"><i class="fa fa-sign-out"></i></a>
{{ form_end(form) }}