{{ form_start(form) }}
<button class="btn btn-primary" name="submitType" value="apply" type="submit" formnovalidate title="Зберегти"><i class="fa fa-save"></i></button>&nbsp;
<button class="btn btn-success" name="submitType" value="save" type="submit" formnovalidate title="Зберегти і вийти"><i class="fa fa-save"></i>&nbsp;<i class="fa fa-plus"></i>&nbsp;<i class="fa fa-sign-out"></i></button>&nbsp;
<a href="{%if(app.request.cookies.get('object_lastpage'))%}{{app.request.cookies.get('object_lastpage')}}{%else%}{{path('crm_object_list')}}{%endif%}" class="btn btn-warning" title="Повернутись"><i class="fa fa-sign-out"></i></a>
<br />
<div class="errors error"></div>
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">Об'єкт</a></li>
    <li><a data-toggle="tab" href="#tab2">Галерея</a></li>
    <li><a data-toggle="tab" href="#tab4">Власник</a></li>
</ul>
<div class="tab-content">
    <div id="tab1" class="tab-pane fade in active">
        <div class="row">
            <div class="col-lg-6 ">{{ form_row(form.name) }}</div>
            <div class="col-lg-6 ">{{ form_row(form.code) }}</div>
            <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(form.status) }}</div>
            <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(form.location) }}</div>
            <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(form.lastUpdate) }}</div>
            <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(form.user) }}</div>
            <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(form.company) }}</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12"><h3>Тип нерухомості</h3></div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.type) }}</div>
                    {% if(paramsMap['type'] is defined) %}
                        {% set sectionParams = paramsMap['type'] %}
                        {{ include('crm/object/_params_section_form.html.twig') }}
                    {% endif %}
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.saletype) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.important) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.exclusive) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.advertising) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.domria) }}</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12"><h3>Вартість</h3></div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.baseprice) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.comission) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.price) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.price_uah) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.price_m2) }}</div>
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.price_m2_uah) }}</div>
                    {% if(paramsMap['price'] is defined) %}
                        {% set sectionParams = paramsMap['price'] %}
                        {{ include('crm/object/_params_section_form.html.twig') }}
                    {% endif %}
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.area) }}</div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12"><h3>Параметри об'єкта</h3></div>
                    {% if(paramsMap['params'] is defined) %}
                        {% set sectionParams = paramsMap['params'] %}
                        {{ include('crm/object/_params_section_form.html.twig') }}
                    {% endif %}
                    <div class="col-lg-6 col-sm-3 col-xs-6">{{ form_row(form.rooms) }}</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12"><h3>Властивості об'єкта</h3></div>
                    {% if(paramsMap['options'] is defined) %}
                        {% set sectionParams = paramsMap['options'] %}
                        {{ include('crm/object/_params_section_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
            <hr />
        <div class="row">
            <div class="col-lg-12 ">{{ form_row(form.address) }}</div>
            <div class="col-lg-12 ">{{ form_row(form.info) }}</div>
            <div class="col-lg-12 ">{{ form_row(form.officialinfo) }}</div>
        </div>       
        <hr />
        {{ include('crm/object/_params_form.html.twig') }}
    </div>
    <div id="tab2" class="tab-pane fade">
        {{ form_row(form.photos) }}
        {% if(object) %}
            {% if(object.photos) %}
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            {% for photo in object.photos|keys %}
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                    <img src="{{object.photos[photo]}}" alt="" height="150" />
                                    <label for="del_photo_{{photo}}"><input type="checkbox" id="del_photo_{{photo}}" name="del_photo[{{photo}}]" value="{{photo}}" /> Видалити фото</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div id="tab4" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-6 check_old_client">{{ form_row(form.client) }}</div>
            <div class="col-lg-3 col-sm-3 col-xs-6 check_old_client" style="padding:0;"><label for="">&nbsp;</label><br><a href="javascript:void(0);" class="btn btn-warning edit_old_client"><i class="fa fa-edit"></i></a></div>
            <div class="clearfix"></div>
            <div class="col-lg-3 col-sm-3 col-xs-6"><label><input type="checkbox" name="new_client" value="Y" /> Створити нововго</label></div>
            <div class="clearfix"></div>
            <div class="new_client_form">
                <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(clientForm.name) }}</div>
                <div class="clearfix"></div>
                <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(clientForm.info) }}</div>
                <div class="clearfix"></div>
                <div class="col-lg-3 col-sm-3 col-xs-6">{{ form_row(clientForm.phones) }}</div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary" name="submitType" value="apply" type="submit" formnovalidate title="Зберегти"><i class="fa fa-save"></i></button>&nbsp;
<button class="btn btn-success" name="submitType" value="save" type="submit" formnovalidate title="Зберегти і вийти"><i class="fa fa-save"></i>&nbsp;<i class="fa fa-plus"></i>&nbsp;<i class="fa fa-sign-out"></i></button>&nbsp;
<a href="{%if(app.request.cookies.get('object_lastpage'))%}{{app.request.cookies.get('object_lastpage')}}{%else%}{{path('crm_object_list')}}{%endif%}" class="btn btn-warning" title="Повернутись"><i class="fa fa-sign-out"></i></a>
<div class="errors error"></div>
{{ form_end(form) }}