{% for param in sectionParams%}
    {%if(params[param] is defined)%}
    <div class="col-md-6 col-xs-12 object-opt">
        <span class="name">{{params[param].name}}</span>
        <span class="val">
            {% if(params[param].multiple) %}
                {% if(params[param].type == 'diapazon' or params[param].type == 'floatdiapazon') %}
                    від {{params[param].val[0]}}{%if(params[param].val[1] is defined)%} до {{params[param].val[1]}}{%endif%}
                {% else %}
                    <ul>
                        {% for prop in params[param].val %}
                            <li>{{prop}}</li>
                            {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                {{params[param].val}}
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endfor %}