{% extends 'desk.html.twig' %}

{% block body %}
    <div class="container-fluid listfilterform">
        {{ form_start(paramsForm, {'action': app.request.pathInfo}) }}
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div class="form-group checkbox-group">
                    <label class="control-label required">Компанія</label>
                    <div id="form_company">
                        {% for ch in paramsForm.company.children %}
                            <div class="checkbox">
                                <input style="display:none;" type="checkbox" id="{{ch.vars.id}}" name="{{ch.vars.full_name}}" value="{{ch.vars.value}}" {% if(ch.vars.checked) %}checked="checked"{% endif %}>
                                <label for="{{ch.vars.id}}">
                                    <img src="{{ch.vars.attr['data-image']}}" height="30">
                                    {{ch.vars.label}}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% do paramsForm.company.setRendered %}
            </div>
{#            <div class="col-lg-2 col-sm-3 col-xs-6">{{ form_row(paramsForm['location']) }}</div>#}
            {#<div class="col-lg-2 col-sm-3 col-xs-6">
                <div class="form-group">
                    <label for="">Ціна від - до</label>
                    <input type="number" id="{{paramsForm.min_price.vars['id']}}" name="{{paramsForm.min_price.vars['full_name']}}" value="{{paramsForm.min_price.vars['value']}}" required="required" class="form-control">
                    <br>
                    <input type="number" id="{{paramsForm.max_price.vars['id']}}" name="{{paramsForm.max_price.vars['full_name']}}" value="{{paramsForm.max_price.vars['value']}}" required="required" class="form-control">
                </div>
                {% do paramsForm.min_price.setRendered %}
                {% do paramsForm.max_price.setRendered %}
            </div>#}
            <div class="col-lg-2 col-sm-3 col-xs-6">{{ form_row(paramsForm.min_price) }}</div>
            <div class="col-lg-2 col-sm-3 col-xs-6">{{ form_row(paramsForm['max_price']) }}</div>
            <div class="col-lg-2 col-sm-3 col-xs-6">{{ form_row(paramsForm['rooms']) }}</div>
            {% if(paramsForm.children.type is defined) %}
            <div class="col-lg-2 col-sm-3 col-xs-6">{{ form_row(paramsForm['type']) }}</div>
            {% endif %}
            <div class="col-lg-2 col-sm-3 col-xs-6">{{ form_row(paramsForm['clientstr']) }}</div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a href="javascript:void(0);" class="btn btn-primary showOtherFIlter"><i class="fa fa-arrow-down"></i></a>
                <button type="submit" name="setFilter" value="Y" formnovalidate class="btn btn-success"><i class="fa fa-search"></i></button>
                <a href="{#{ path('crm_object_list',{'removeFilter':'Y'})}#}{{app.request.pathInfo}}" class="btn btn-success"><i class="fa fa-times"></i></a>
                <br />
                <br />
            </div>
                <div class="clearfix"></div>
            <div class="col-lg-12">
                <div class="otherFIlter" style='display:none;'>
                    <div class="row ">
                        <div class="col-lg-3 col-sm-4 col-xs-6">{{ form_row(paramsForm['status']) }}</div>
                        {% for field in paramsForm.children %}
                            {% if(not field.rendered and field.vars.name != '_token') %}
                                <div class="col-lg-3 col-sm-4 col-xs-6">
                                    {{ form_row(paramsForm[field.vars.name]) }}
                                </div>
{#                                {{dump(field.vars.name)}}#}
                            {% endif %}
                        {% endfor %}
                        <div class="col-lg-12">
{#                        {{ form_widget(paramsForm) }}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            
            
            
        {{ form_end(paramsForm) }}
        
{#        {{ form_start(form, {'action': path('crm_object_list')}) }}#}
{#        <div class="row">#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">{{ form_row(form.name, {'label': "Назва"}) }}</div>#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">{{ form_row(form.user, {'label': 'Хто веде'}) }}</div>#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">{{ form_row(form.client, {'label': 'Власник'}) }}</div>#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">{{ form_row(form.status) }}</div>#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">{{ form_row(form.type) }}</div>#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">{{ form_row(form.price_from) }}</div>#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">{{ form_row(form.price_to) }}</div>#}
{#            <div class="col-lg-2 col-sm-4 col-xs-6">#}
{#                <br>#}
{#                <button type="submit" formnovalidate class="btn btn-success"><i class="fa fa-search"></i></button>#}
{#                <a href="{{ path('crm_object_list')}}" class="btn btn-success"><i class="fa fa-times"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        {{ form_end(form, {'render_rest': true}) }}#}
        <a href="{{ path('crm_object_new')}}" class="btn btn-success">Створити</a>
        <br />
        <br />
    </div>
    <table class="table table-hover table-responsive-objects">
        <thead>
            <tr>
{#                <th>{{knp_pagination_sortable(objects, 'id', 'ob.id')}}</th>#}
{#                <th>{{knp_pagination_sortable(objects, 'Назва', 'ob.name')}}</th>#}
                <th>{{knp_pagination_sortable(objects, 'Код', 'ob.code')}}</th>
                <th>{{knp_pagination_sortable(objects, 'Статус', 'ob.status')}}</th>
                <th>{{knp_pagination_sortable(objects, 'Район', 'location.name')}}</th>
                <th>{{knp_pagination_sortable(objects, 'Ціна', 'ob.price')}}</th>
                <th>{{knp_pagination_sortable(objects, 'К-сть кімнат', 'ob.rooms')}}</th>
                <th>{{knp_pagination_sortable(objects, 'Площа', 'ob.area')}}</th>
{#                <th>{{knp_pagination_sortable(objects, 'Статус', 'ob.status')}}</th>#}
{#                <th>{{knp_pagination_sortable(objects, 'Останній контакт', 'ob.lastUpdate')}}</th>#}
                <th>Тип будинку</th>
                <th width="85"></th>
                <th width="5%">Dom.ria</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr class="
                    {% if( date(object.lastUpdate) < date('-14days') ) %}
                        danger
                    {% elseif(object.status=='reserved') %}
                        warning
                    {% elseif(object.status=='insale') %}
                        
                    {% elseif(object.status=='saled') %}
                        success
                    {% elseif(object.status=='archive') %}
                        active
                    {% endif %}
                    ">
                    {#<td>
                        {{ object.id }}
                    </td>#}
                    {#<td>
                        <a href="{{ path('crm_object_show', {'id': object.id}) }}">
                            {{ object.name }}
                        </a>
                    </td>#}
                    <td>
                        <a href="{{ path('crm_object_show', {'id': object.id}) }}">
                        {{ object.code }}
                        </a>
                        <div class="pull-right">
                            {% if(object.photos|length > 0) %}
                                <i class="fa fa-image primary-color" title="Є фото"></i>
                            {% else %}
                                <i class="fa fa-image" title="Нема фото" style="color:#ddd;"></i>
                            {% endif %}
                            {% if(object.exclusive) %}
                                <i class="fa fa-star warning-color" title="Ексклюзив"></i>
                            {% else %}
                                <i class="fa fa-star" title="Не ексклюзив" style="color:#ddd;"></i>
                            {% endif %}
                            {% if(object.important) %}
                                <i class="fa fa-warning danger-color" title="Важливий"></i>
                            {% else %}
                                <i class="fa fa-warning" title="Не важливий" style="color:#ddd;"></i>
                            {% endif %}
                            {% if(object.advertising) %}
                                <i class="fa fa-bullhorn success-color" title="Рекламується"></i>
                            {% else %}
                                <i class="fa fa-bullhorn" title="Не рекламується" style="color:#ddd;"></i>
                            {% endif %}
                            
                        </div>
                    </td>
                    <td>
                        {% if(object.status=='insale') %}
                            В продажу
                        {% elseif(object.status=='reserved') %}
                            Зарезервовано
                        {% elseif(object.status=='saled') %}
                            Продано
                        {% elseif(object.status=='archive') %}
                            В архіві
                        {% endif %}
                    </td>
                    <td>
                        {% if(object.location) %}
                            {{ object.location.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ object.price }}
                    </td>
                    <td>
                        {{ object.rooms }}
                    </td>
                    <td>
                        {{ object.area }}
                    </td>
                    <td>
                        {{ object.getParamVal(24) }}
                    </td>
                    {#<td>
                        {% if(object.status == 'insale')%}
                                В продажу
                        {% elseif(object.status == 'reserved') %}
                            Зарезервовано
                        {% elseif(object.status == 'saled') %}
                            Продано
                        {% elseif(object.status == 'archive') %}
                            В архіві
                        {% elseif(object.status == 'new') %}
                                Новий
                        {% endif %}
                    </td>#}
                    {#<td>
                        {{  object.lastUpdate|date("d.m.Y") }}
                    </td>#}
                    <td>
                        <a href="{{ path('crm_object_search_bid', {'id': object.id}) }}" class="btn btn-primary btn-sm" ><i class="fa fa-search"></i></a>
                        <a href="{{ path('crm_object_show', {'id': object.id}) }}" class="btn btn-success btn-sm" ><i class="fa fa-user"></i></a>
{#                        <a href="{{ path('crm_object_edit', {'id': object.id}) }}" class="btn btn-warning btn-sm" ><i class="fa fa-edit"></i></a>#}
{#                        <a href="{{path('crm_object_delete', {'id': object.id})}}" class="btn btn-danger btn-sm" onclick="if (confirm('Ви впевнені, що хочете видалити?')) {} else {return false;}"><i class="fa fa-user-times"></i></a>#}
                    </td>
                    <td align="right">
                        <input type="checkbox" name="domria[{{object.id}}]" data-url="{{path('crm_object_changeadv',{'id':object.id})}}" class="dom-ria-check" id="dom_ria_checker_{{object.id}}" {% if(object.domria) %}checked=""{%endif%} />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(objects) }}
{% endblock %}